button {
  text-transform: uppercase;
  color: $anti-FlashWhite;
  border: 5px solid $anti-FlashWhite;
  transition-duration: 0.6s;
  a {
    color: $anti-FlashWhite;
    text-decoration: none;
    font-family: FuturaHeavy;
  }
}
.contactDark {
  background-color: $eerieBlack;
  width: 230px;
  height: 68px;
  font-size: 26px;
  font-weight: bold;
  margin: 0 204px 160px 205px;
  &:hover {
    background-color: $anti-FlashWhite;
    color: $eerieBlack;
    a {
      color: $eerieBlack;
    }
  }
}

.messageButton {
  background-color: $payneGray;
  font-family: FuturaHeavy;
  font-size: 32px;
  padding: 20px 28px;
  &:hover {
    background-color: $anti-FlashWhite;
    color: $payneGray;
    a {
      color: $payneGray;
    }
  }
}
