#Home-Section {
  max-width: $site-width;
  // height: 100%;
  min-height: $site-height;
  // background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .homeText {
    width: 50%;
    // height: 100%;
    min-height: $site-height;
    // max-width: 640px;
    // height: 800px;
    background-color: $eerieBlack;
    // padding-left: 80px;
    // padding-right: 75px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    h1,
    h3 {
      color: $cadetGray;
    }
    h2,
    p {
      color: $powderBlue;
    }
    h1 {
      // font-size: 75px;
      font-size: 4.6875rem;
      // font-size: 4.7vw;
      font-family: FuturaExtraBlack;
      margin: 10px 65px 10px 85px;
    }
    h2 {
      // width: 40px;
      // font-size: 30px;
      font-size: 1.875rem;
      // font-size: 1.875vw;
      font-family: FuturaMedium;
      margin: 83px 70px 0 85px;
    }
    h3 {
      // font-size: 30px;
      font-size: 1.875rem;
      // font-size: 1.875vw;
      font-family: FuturaBook;
      margin-left: 89px;
      margin-right: 99px;
    }
    p {
      // font-size: 27px;
      font-size: 1.6875rem;
      // font-size: 1.6875vw;
      //   max-width: 455px;
      margin: 40px 92px;
    }
  }
}
.homeImg {
  background-color: gold;
  min-height: $site-height;
  width: 50%;
}
// .profilePic {
//   // height: $site-height;
//   // width: 100%;
//   // background-image: url(../img/profile_pic.JPEG);
//   // background-size: cover;
//   // background-repeat: no-repeat;
//   // background-position: bottom;
//   // background-color: $powderBlue;
//   // background-blend-mode: luminosity;
// }

// Media Queries
@media screen and (max-width: 1280px) {
  #Home-Section {
    .homeText {
      h1 {
        font-size: 4.7vw;
      }
      h2 {
        font-size: 1.875vw;
      }
      h3 {
        font-size: 1.875vw;
      }
      p {
        font-size: 1.6875vw;
      }
    }
  }
  @media screen and (max-width: 800px) {
    #Home-Section {
      flex-direction: column-reverse;
      height: 50%;

      .homeText {
        height: 50%;
        width: 100%;
        h1 {
          // font-size: 36px;
          font-size: 54px;
        }
        h2 {
          // font-size: 14px;
          font-size: 21px;
          // margin: 83px 20px;
        }
        h3 {
          // font-size: 14px;
          font-size: 21px;
        }
        p {
          // font-size: 13px;
          font-size: 20px;
        }
      }
    }
    .homeImg {
      height: 50%;
      width: 100%;
    }
  }
}
// @media screen and (min-width: 1200px) {
//   .homeText {
//     h1 {
//       // font-size: 75px;
//       // font-size: 75rem;
//       font-size: 4.6vw;
//     }
//   }
// }
