#Home-Section {
  max-width: $site-width;
  height: $site-height;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .homeText,
  .homeImg {
    width: 50%;
    height: 100%;
    // max-width: 640px;
    // height: 800px;
  }
  .homeText {
    background-color: $eerieBlack;
    font-family: Helvetica;
    // padding-left: 80px;
    // padding-right: 75px;
    h1,
    h3 {
      color: $cadetGray;
    }
    h2,
    p {
      color: $powderBlue;
    }
    h1 {
      // font-size: 75px;
      // font-size: 4.5rem;
      font-size: 4.7rem;
      font-family: FuturaExtraBlack;
      margin: 10px 65px 10px 85px;
    }
    h2 {
      // width: 40px;
      font-size: 30px;
      font-family: FuturaMedium;
      margin: 83px 70px 0 85px;
    }
    h3 {
      font-size: 30px;
      font-family: FuturaBook;
      margin-left: 89px;
      margin-right: 99px;
    }
    p {
      font-size: 27px;
      //   max-width: 455px;
      margin: 40px 92px;
    }
  }
  .homeImg {
    background-image: url(../img/profile_pic.JPEG);
    background-size: cover;
    background-position: bottom;
    background-blend-mode: luminosity;
    background-color: rgba($powderBlue, 0.6);
  }
}
