nav {
  max-width: $site-width;
  min-height: 63px;
  margin: 0 auto;
  text-transform: uppercase;
  background-color: $eerieBlack;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  //   position: fixed; /* Set the navbar to fixed position */
  //   top: 0; /* Position the navbar at the top of the page */
  //   width: 100%; /* Full width */
  font-size: 18px;
  color: $powderBlue;
  a {
    color: $powderBlue;
    text-decoration: none;
    font-weight: 520;
    margin-right: 52px;
    transition-duration: 0.3s;
  }
  a:hover {
    text-decoration: underline;
    color: $anti-FlashWhite;
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // Hide Links
  }
  p {
    margin: 0;
  }
  i {
    font-size: 26px;
    &:hover {
      color: $anti-FlashWhite;
    }
    &:active {
      color: $eerieBlack;
      background-color: $anti-FlashWhite;
    }
  }
}
