.websitePrevPic1,
.websitePrevPic2 {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.websitePrevPic1 {
  background-image: url(../img/websitePics/porfolio_preview.png);
}
.websitePrevPic2 {
  background-image: url(../img/websitePics/Eventsy_Preview.png);
}
