.websitePrevPic {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition-duration: 0.5s;
}
.oldPortfolioPic {
  background-image: url(../img/websitePics/porfolio_preview.png);
}
.eventsyPic {
  background-image: url(../img/websitePics/Eventsy_Preview.png);
}
.dancepunkPic {
  background-image: url(../img/websitePics/Ecommerce_Preview.png);
  background-position: top;
}
