#Contact-Section {
  background-color: $payneGray;
  min-height: $site-height;
  max-width: $site-width;
  color: $anti-FlashWhite;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // flex-direction: column;
}
.contactText {
  h1 {
    font-size: 110px;
    font-family: FuturaBook;
    text-transform: uppercase;
    font-weight: 200;
  }
  hr {
    // border: 7px solid;
    height: 7px;
    background-color: $anti-FlashWhite;
    border-style: none;
  }
  p {
    font-size: 32px;
    font-family: FuturaBook;
  }
}
.copyrightText {
  color: $powderBlue;
  font-size: 30px;
  font-family: FuturaBook;
}
