#About-Section {
  //   background-color: aquamarine;
  height: $site-height;
  width: $site-width;
  background-image: linear-gradient(
    0deg,
    $eerieBlack 25%,
    $cadetGray 25%,
    $cadetGray 50%,
    $eerieBlack 50%,
    $eerieBlack 75%,
    $cadetGray 75%,
    $cadetGray 100%
  );
  background-size: 80px 80px;
  color: $anti-FlashWhite;
}
.aboutText {
  background-color: $cadetGray;
  width: 1280px;
  padding: 50px;
  h1 {
    font-size: 100px;
    font-family: FuturaBook;
    margin-bottom: 10px;
  }
  hr {
    width: 540px;
    height: 10px;
    background-color: $anti-FlashWhite;
    border-style: none;
    margin-bottom: 60px;
  }
  p {
    font-size: 36px;
  }
}
